$background-colors: (
  "header": black,
  "dropdown-navbar": rgb(87, 7, 2),
  "side-nav": black,
  "contact-form": #01393a,
  "skills": black,
  "blog-listing-page": #ecedee,
  "blog-topics": #0db3b6,
  "blog-slug-page": white,
  "avatar": rgb(189, 4, 4),
);

$icon-bg-colors: (
  "linkedin": rgb(41, 104, 221),
  "github": black,
  "py": #ffd43b,
  "angular": white,
  "blockchain": white,
  "pinterest": white,
  "tiktok": #00fff8,
  "etsy": #eb6d20,
);

$icon-colors: (
  "linkedin": white,
  "tiktok": #00fff8,
  "github": white,
  "stackoverflow": #f48024,
  "twitter": #00acee,
  "react": #61dbfb,
  "js": #f0db4f,
  "py": #306998,
  "angular": #dd1b16,
  "blockchain": #f7931a,
  "youtube": #ff0000,
  "pinterest": #e60023,
);
